.position {
    height: 100vh;
}


.image {
    position: relative;
    height: 100vh;
    padding-bottom: 200px;
}

.image__text {
    width: 50%;
    position: absolute;
    right: 0;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: scroll;
    padding: 50px;
}

.image__text h1 {
    margin-bottom: 20px;
}

.image__text p {
    max-width: 500px;
    margin-bottom: 20px;
}

@media screen and (max-width:600px) {
    .image__text {
        width: 100%;
        position: static;
        padding: 20px;
    }
}