* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* styling the right section */

.rightSection__container {
  position: fixed;
  top: 120px;
  right: 0;
  width: 350px;
  height: 100vh;
  color: rgb(148, 144, 144);
  transform: translateX(200%);
  transition: 1s;
  background-color: #333333;
  display: flex;
  flex-direction: column;
}

.rightSection__container.active {
  transform: translateX(0%);
}

.contact_container {
  background-color: #141414;
  padding: 30px 20px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.rightSection__container a {
  color: white;
  font-size: large;
  font-weight: bold;
  padding: 10px 30px;
}

.active__nav {
  color: yellow;
}

@media screen and (max-width:960px) {
  .rightSection__container {
    top: 100px;
  }
}

@media screen and (max-width:600px) {
  .rightSection__container {
    left: 0;
    right: 0;
    width: 100%;
  }
}

/* footer styling */

.footer__container {
  background-color: #333333;
  color: rgb(167, 161, 161);
  overflow: hidden;

}

.first__section {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons {
  display: flex;
  align-items: center;
}

.icons svg {
  margin-right: 20px;
  font-size: 30px;
}

.links a {
  margin: 0 20px;
}

.footer__container p {
  text-align: center;
  background-color: #141414;
  padding: 10px 0;
}

.footer__container a {
  color: rgb(167, 161, 161);

}

/* styling the computer componet  */

.theText {
  margin-top: 120px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: scroll;
  padding: 20px;
}

.theText h1 {
  margin: 40px 0;
}

.theText p {
  max-width: 600px;
  margin: auto;
}

.Forex {
  margin-top: 40px;
  position: absolute;
  right: 0;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: scroll;
  padding: 20px;
}

.Forex h1 {
  margin: 40px 0;
}


/* styling the mission page */

.mission__container {
  background: url("https://iea.imgix.net/videos/v2/cover/world-360_1080_cover.jpg?auto=compress%2Cformat&fit=min&q=80");
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

.misson__details {
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 50px;
}

.misson__details h1 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 50px;
}

.misson__details p {
  margin-bottom: 30px;
  font-size: 20px;
}

@media screen and (max-width:655px) {
  .misson__details {
    padding: 10px;
    margin: 2px;
  }

  .misson__details h1 {
    font-size: 30px;
  }
}